@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-newsreader: "Newsreader", serif;
  --font-playfair: "Playfair Display", serif;
  --font-funnel-sans: "Funnel Sans", sans-serif;
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* Base (Adidas style) */

  --color-foreground-secondary: #4a4a4a;
  --color-foreground-muted: #9ca3af;

  /* Surfaces */
  --color-surface: #f5f5f5;
  --color-surface-dark: #000000;

  /* Accent (your touch) */
  --color-accent-gold: #b8960c;
  --color-accent-gold-light: #d4af37;

  /* Inverse */
  --color-foreground-inverse: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Funnel Sans", sans-serif;
}

@media (min-width: 1100px) {
  .navbar {
    gap: 40px;
  }
}
